body {
    font-family: 'Inter', sans-serif;

    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
}

.container {
    width: 100%;
}

*{
    box-sizing: border-box;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 400px;
    height: 100vh;
    background: black;
    color: white;
    padding: 20px;
}

.menu{
    margin-top: 310px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
}


.menu-btn{
    width: 350px;
    height: 70px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;

    padding-left: 20px;
    font-size: 18px;
}

.menu-lgt{
    width: 350px;
    height: 70px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;

    padding-left: 20px;
    font-size: 18px;
}

.hr {
    width:350px;
    height: 0.5px;
    outline-color: gray;
}

.menu-bottom{
    margin-top: -10px;
}

.menu-bottom2{
    margin-top: 30px;
}

/* warna saat aktif */
.menu-btn.active {
    background-color: #1fb381;
}



.menu-btn:hover{
    background-color:#18a374;
}





.menu-lgt:hover{
    background-color:red;
}

.panel h1 {
    position: absolute;
    top: 210px;
}

.panel p {
    position: absolute;
    top: 260px;
}

.logo {
    position: absolute;
    width: 200px;
    height: 140px;
    top: 50px;
    left: 85px;
}

.gray{
    color: gray;
}

/* MAIN */

.main {
    margin-left: 400px; /* sama persis kayak width sidebar */
    padding: 30px;
    width: calc(100% - 400px); /* ini yang sering kelewat */
}

.title {
    font-size: 48px;
    margin-bottom:5px;
}

.subtitle {
    color: gray;
    font-size:18px;
    margin-bottom:30px;
}

.user-card{
    display: flex;
    align-items: center;
    background: #111;
    padding: 15px;
    border-radius: 12px;
    width: 260px;
}

.user-icon{
    width: 40px;
    height: 40px;
    background: #10b981;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 10px;
}

.user-name{
    color: white;
    font-weight: bold;
}

.user-role{
    color: #22c55e;
    font-size: 13px;
    font-weight: bold;
}

.user-email{
    color: #aaa;
    font-size: 13px;
}

.card{
    width:200px;
    padding:15px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.search {
    background-color: white;
    margin-left: 430px;
    margin-right: 20px; /* jarak kanan */
    border: 2px solid #dcdcdc;
    height: 180px;
    padding: 12px 16px;
    border-radius: 18px;
}

.search2 {
    width: 80%;
    background-color: white;
    padding: 12px 16px;
    border-radius: 10px;
    border: 2px solid #dcdcdc;
    height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 20px;

}

.view-buttons {
    display: flex;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.view-button{
    width: 170px;
    height: 43px;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 20px;
    border-radius: 10px;
    border: 2px solid #dcdcdc;
    
}

.view-button:hover {
    background-color: white;
}

.add {
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5); /* overlay gelap */
    
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none; /* biar gak bisa diklik kalau belum open */
    transition: all 0.3s ease-in-out;

    z-index: 999;
}

.add.open {
    opacity: 1;
    pointer-events: auto;
}



.addklien {
    position: relative;
    transform: translateX(200px);
    background-color: #fff;
    border-radius: 16px;
    padding: 30px;

    width: 900px;        /* lebih lebar */
    max-width: 95%;

    height: 650px;
    max-height: 100vh;     /* lebih tinggi */
    overflow-y: auto;
    
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 20px;
    margin-bottom: 5px;
}



.form-group input {
     
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
      padding: 14px;
}

.info-box {
    background: #e0ecff;
    padding: 12px;
    border-radius: 8px;
    margin-top: 60px;
    font-size: 20px;
}

.form-action {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submit-btn {
    background: #10B981;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 12px;
    width: 90%;
    height: 60px;
    font-size: 20px;
    margin-top: 20px;
}

.simpan-btn {
    background: #60A5FA;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 12px;
    width: 90%;
    height: 60px;
    font-size: 20px;
    margin-top: 20px;
}

.simpan-btn:hover {
    background-color: #4188F7;
}


.cancel-btn {
    margin-top: 20px;
    width: 25%;
    border-radius: 8px;
    font-size: 20px;
}

.addklien h2{
    margin: 0;
}

.buttonadd {
    background-color: #10B981;
    border-radius: 12px;
    border: 0;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    width: 200px;
    height: 50px;
}

.buttonadd-active{
    opacity: 0.8;
}



.table {
    width: calc(100% - 450px); /* 430 + margin kanan */
    margin-left: 430px;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
}

.table th {
    text-align: left;
    padding: 15px;
    font-size: 12px;
    color: #888;
    background: #f9fafb;
}

.table td {
    padding: 15px;
    border-top: 1px solid #eee;
    vertical-align: middle !important;
}

/* Avatar + Nama */
.klien {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    background: #22c55e;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Status */


.status.aktif {
    width: 90px;
    height: 50px;
    background: #dcfce7;
    color: #16a34a;
    font-size: 16px;
    display: flex;              /* WAJIB */
    align-items: center;        /* tengah vertikal */
    justify-content: center;    /* tengah horizontal */
}

.status.aktif2 {
    margin-top: -30px;
    margin-left: 2px;
    width: 90px;
    height: 50px;
    background: #dcfce7;
    color: #129542;
    font-size: 16px;
    display: flex;              /* WAJIB */
    align-items: center;        /* tengah vertikal */
    justify-content: center;    /* tengah horizontal */
}

/* Aksi */


.aksi {
    display: flex;
    align-items: center;
    height: 100%; /* penting */
    gap: 12px;
    cursor: pointer;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
}

.icon.delete {
    color: red;
}

.table tbody tr:hover {
    background-color: #f9fafb;
}

.lihat-popup-modern {
    width: 900px;
    height: 650px;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    position: relative;
}

/* HEADER */
.lihat-header {
    background: linear-gradient(135deg, #1abc9c, #16a085);
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border-radius: 20px;
    width: 109%;
    margin-left: -40px;
    margin-top: -30px;
}

.avatar {
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}



/* STATUS */
.status {
    
    top: 80px;
    left: 20px;
    background: #d1f5e7;
    color: #0a8f5b;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
}

td {
    vertical-align: middle;
}

/* GRID */
.lihat-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px;
}

.card {
    background: #f8f9fb;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    height: 100px;
    margin-left: -10px;
}

.card span {
    color: gray;
    font-size: 12px;
}

.card strong {
    display: block;
    margin-top: 5px;
}

/* LANGGANAN */
.langganan {
    background: #eef6fb;
    margin-left: 10px;
    padding: 15px;
    border-radius: 15px;
    width: 815px;
}

.langganan-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.green {
    color: green;
}

/* BUTTON */
.btn-tutup {
    margin-top: 20px;
    width: 150px;
    padding: 12px;
    margin-left: 10px;
    background: #0f172a;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.btn-tutup2 {
    margin-top: 20px;
    width: 815px;
    padding: 12px;
    margin-left: 10px;
    background: #0f172a;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 200px;
  margin-left: -20px;
 
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
   position: relative;
  left: 85%;
  top: -74%;
  height: 50px;
  border-radius: 12px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  top: 5px;
  left: -20px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 width: 200px;
  outline: black solid 1px;
  border-radius: 10px;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.avatar-table {
    width: 70px;
    height: 70px;
    background: #22c55e;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-left: 30px;
}

.klien .avatar {
    background: #22c55e !important;
    color: white !important;
}

.header-konfirmasi {
    display: flex;
    align-items: center; /* biar sejajar tengah */
    gap: 10px; /* jarak antara gambar & teks */
}

.peringatan {
    width: 50px; /* atur ukuran icon */
    height: 50px;
}

.hapusklien{
     position: relative;
    transform: translateX(200px);
    background-color: #fff;
    border-radius: 16px;
    padding: 30px;

    width: 600px;        /* lebih lebar */
    max-width: 95%;

    height: 450px;
    max-height: 100vh;     /* lebih tinggi */
    overflow-y: auto;
    
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    animation: fadeIn 0.3s ease;
}

.danger-box{
    
    background: #FFE2E2;
    padding: 18px;
    border-radius: 8px;
    height:80px;
    font-size: 15px;
    border: 1px #FFE2E2;
}

.hapusred {
    width: 260px;
    background-color: red;
    color: white;
    outline: none;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
}

.close2{
    background-color: white;
    color: black;
    width: 260px;
    height: 50px;
    margin-left: 15px;
    border-radius: 10px;
    outline: none;
    border:1px solid black;
}

.hapusred:focus {
    outline: none;
}