body{
    margin:0;
    background-color: black;
    font-family:Arial;
}

/* center card */
.wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* card utama */
.login-card{
    display:flex;
    width:1000px;
    height:800px;
    border-radius:20px;
    overflow:hidden;
}

/* panel kiri */
.left-panel{
    flex:1;
    background:linear-gradient(180deg,#27c498,#14936c);
    padding:50px;
    color:white;
}

.left-panel h1{
    margin-top:10px;
    font-size:35px;
}

.masuk{
    margin-top: 10%;
}

/* panel kanan */
.right-panel{
    flex:1;
    background:#efefef;
    padding:50px;
}

.sub{
    color:#777;
    margin-bottom:30px;
}

label{
    display:block;
    margin-top:15px;
}

input{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:1px solid #ccc;
    margin-top:8px;
}

/* tombol select */
.select-container{
    display:flex;
    gap:20px;
    margin-top:10px;
}

.select-btn{
    flex:1;
    margin: 3px;
    padding:15px;
    margin-left: 103px;
    border-radius:12px;
    border:2px solid #20b486;
    background:white;
    cursor:pointer;
    width: 200px;
    height: auto;
}

.select-btn.active{
    background:#20b486;
    color:white;
}

/* tombol login */
.submit-btn{
    width:100%;
    margin-top:20px;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#20b486;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

.regis-btn{
    width:100%;
    margin-top:18%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#20b486;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

.register{
    text-align:center;
    margin-top:20px;
   
}

.login-card{
    position: relative;
    overflow: hidden;
}

.register-panel{
    position: absolute;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background: white;
    padding: 40px;
    transition: 0.5s;
}

.register-panelg{
    position:absolute;
    top:0;
    right:-100%;
    width:50%;
    height:100%;
    background:#20b486;
    padding:40px;
    transition:0.5s;
    color:white;
}

.right-panel{
    transition: 0.5s;
    
}

.login-card.active .right-panel{
    transform:translateX(-100%);
}

.login-card.active .register-wrapper{
    right:0;
}






.register-wrapper{
    position:absolute;
    top:0;
    right:-100%;
    width:100%;
    height:100%;
    display:flex;
    transition:0.5s;
}

.register-form{
    width:50%;
    background:#efefef;
    padding:50px;
}

.register-info{
    width:50%;
    background:#20b486;
    color:white;
    padding:50px;
}